doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.content
      if user !== undefined
        div.welcomebox
          p.
            Welcome, #{user.displayName}!
          a(href="/html/my/team") View my team
          br
          a(href="#",onclick="add_team_member()") Recruit a Critter
          br
          a(href="/logout") Logout
      else
        a(href="/auth/google") Sign In with Google
    div.content
      block content
    script(type="text/javascript",
           src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(type="text/javascript", src="/javascripts/client.js")
